/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: Aleo, Sans-serif;
	font-weight: 100;

}

div.sign_up_page {
	display: flex ;
	justify-content: center
}

/* Petite colonne de gauche */

div.sign_up_text {
	padding: 100px;
	padding-left: 30px;
	padding-right: 120px;
	color: #ffffff ;
	background-color: #489AF7
}

h2.title {
	font-size: 200%;
	font-weight: 700
}

h4.subtitle {
	font-weight: 500
}

p.line {
	color: #7FFFD4
}

ul {
	font-size: 90%;
	line-height: 250%
}

/* Petite colonne de droite */

div.sign_up_form {
	color: #404855;
	padding: 100px;
	padding-left: 30px;
	padding-right: 30px
}

div.field {
	color: #c1c0c5
}

p.test {
	border-radius: 2px;
	background-color: #489AF7;
	color: #ffffff;
}